@import "tailwindcss";

*{
  box-sizing: border-box;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-montserrat: var(--font-montserrat);
  --font-truculenta: var(--font-truculenta);
}

body{
  font-family: var(--font-montserrat);
}

.notday{
  opacity: 0.5;
}

.logo{
  font-weight: bold;
}