@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-montserrat: var(--font-montserrat);
}

body{
  font-family: var(--font-montserrat);
}

.notday{
  opacity: 0.5;
}

h3{
  background-color: #166534;
  color:white;
}